@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    font-family: "Lato";
    line-height: 16px;
}

.logo{
    cursor: pointer;
    width: 60px;
}

li,a,button{
    font-family: "lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    /*budge the left and right items to the far edges and the item in the middle will be evenly space between the two*/
    align-items: center;
    padding: 10px 1% 1px 1%;
}

.logo{
    position:relative;
    margin: 0px;
    border-radius: 50%;
}

/*
.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a{
    transition: all 0.3s ease;
}

.nav_links li a:hover{
    color: teal;
}
*/

button{
    margin-top: 1rem;
    padding: 15px 25px;
    background-color: rgb(0, 108, 250);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: teal;
}

.job_icon{
    height: 30px;
    border-radius: 50%;
}

/*
.sidebar{
    position: fixed;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: thistle;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
}

.sidebar li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    border-top: 1px solid rgb(177, 177, 177)
}
*/



/*Responsive navigation expander*/
@media screen and (min-width:1301px){
        
    .sidenav {
        height: 100%;
        width: 210px;
        padding-left: 15px;
        padding-top: 30px;
        position: fixed;
        z-index: 2;
        left: 0px;
        background-color: #111;
        overflow-x: hidden;
        transition: all 0.5s ease;
    }
    
    .sidenav a {
        text-decoration: none;
        font-size: 1.2rem;
        color: #818181;
        display: block;
        transition: 0.4s;
    }
    
    .navsidebuttons{
        padding: 30px;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
        padding-left: 30px;
    }

    #check{
        display: none;
    }

    label #expandnav,label #cancel{
        display: none;
    }

    .rightbar {
        height: 100%;
        width: 300px;
        justify-content: right;
        padding-right: 15px;
        padding-top: 30px;
        right: 0;
        position: fixed;
        z-index: 3;
        background-color: rgb(17, 17, 17);
        overflow-x: hidden;
        transition: all 0.5s ease;
    }

/*Right sidebar*/
    .past1, .past2, .upcoming1, .upcoming2 {
        width: 280px;
        padding: 1px 5px 1px 1px;
        overflow: hidden;
        margin: 20px;
        color: white;
    }

    .righttitle{
        color: white;
        line-height: 1.3rem;
        margin-left: 15px;
    }

    .eventimage{
        width: 70px;
        height: 70px;
        object-fit: cover;
        background-color: white;
        border-radius: 30%;
        margin-right:15px;
        float:left;
        }

    .projectname{
        margin-left: 15px;
        display: block;   
        margin: 2px 0 0 0;
        font-weight: 300;
        line-height: 1.7rem;
    }

    .text_project{
        position: relative;
        margin-left: 65px;
        width: 200px;
    }

    .projectdescription{
        display: block;   
        margin: 2px 0 0 0;
        font-weight: 150;
        line-height: 1.3rem;
        font-size: 12.5px;
    }

    .nostyle{
        color: white;
    }

    .nostyle:hover{
        color: rgb(196, 196, 196);
        transform: scale(1.1);
    }


/*===========Organizations and Work===============*/
    .community, .workexperiences{
        margin-left: 20px;
        color:white;
    }

    .organizationlogo{
        width: 60px;
        height: 60px;
        object-fit: cover;
        background-color: white;
        border-radius: 30%;
    }

    #sphlogo{
        margin-left: 20px;
    }

    #hygmlogo{
        object-fit:cover;
        object-position: -3px 0px;
        margin-left: 20px;
    }

}


/*Responsive navigation expander*/
@media screen and (max-width:1300px){
    button{
        margin-top: 0.8rem;
        padding: 15px 25px;
        background-color: rgb(0, 108, 250);
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-size: 0.7rem;
    }
    
    button:hover{
        background-color: teal;
    }
    
    .job_icon{
        height: 30px;
        border-radius: 50%;
    }
    .sidenav {
        height: 100%;
        width: 160px;
        padding-left: 15px;
        padding-top: 15px;
        position: fixed;
        z-index: 2;
        left: -250px;
        background-color: #111;
        overflow-x: hidden;
        transition: all 0.5s ease;
    }
    
    .sidenav a {
        text-decoration: none;
        font-size: 0.8rem;
        color: #818181;
        display: block;
        transition: 0.4s;
    }
    
    .navsidebuttons{
        padding: 30px;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
        padding-left: 15px;
    }
    
    #check{
        display: none;
    }
    label #expandnav{
        left: 20px;
        top: 30px;
        font-size: 15px;
        color:white;
        padding: 6px 12px;
        transition: all 0.5s;
    }
    
    label #cancel{
        z-index: 1111;
        left: -165px;
        top: 30px;
        font-size: 15px;
        color: white;
        padding: 4px 9px;
    }
    
    #check:checked ~ .sidenav{
        left: 0;
    }
    
    #check:checked ~ label #expandnav{
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }
    
    #check:checked ~ label #cancel{
        z-index: 1111;
        left: 130px;
        top: 30px;
        font-size: 20px;
        color:white;
        padding: 4px 9px;
        transition: all 0.5s ease;
    }
    
    label #expandnav,label #cancel{
        position: absolute;
        cursor: pointer;
        background:turquoise;
        border-radius: 3px;
    }
    
    .rightbar{
        display: none;
    }
}

#avatar{
    padding: 15px 25px 15px 25px;
}

/*
.card-profile{
    display: flex;
    margin-top: 2rem;
    align-items: center;
}

.profileimg{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.profile_info{
    margin-left: 1rem;    
}

.profile_name{
    font-size: 0.9rem;
}

.profile_followers{
    color:rgb(51, 51, 51);
    font-size: 0.8rem;
}
*/


/*===========Right sidebar===============*/
/*
@media screen and (min-width: 601px){
    .rightbar {
        height: 100%;
        width: 250px;
        justify-content: right;
        padding-right: 15px;
        padding-top: 30px;
        right: 0;
        position: fixed;
        z-index: 3;
        background-color: rgb(17, 17, 17);
        overflow-x: hidden;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 600px){
    .rightbar {
        height: 100%;
        width: 250px;
        justify-content: right;
        padding-right: 15px;
        padding-top: 30px;
        right: 0;
        position: fixed;
        z-index: 3;
        background-color: rgb(17, 17, 17);
        overflow-x: hidden;
        transition: all 0.5s ease;
    }
}


.rightsidenav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #818181;
    display: block;
    transition: 0.4s;
}

.navsidebuttons{
    padding: 30px;
}

.sidenav a:hover {
    color: #f1f1f1;
    padding-left: 30px;
}
*/


/*============== Post Content===================*/

.row_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    overflow: hidden;
    box-shadow: 0px 2px 5px 3px gray;
    background-color: white;
    border-radius: 0.5rem;
    position: relative;
    width: 650px;
    margin: 5% 20%;
    transition: 250ms all ease-in-out;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.10);
    box-shadow: 0px 2px 40px gray;
}

.card_banner-img{
    position: absolute;
    object-fit: cover;
    height: 14rem;
    width: 100%;
}

.card_tag{
    font-family: "lato";
    font-size: rem;
    font-weight: bold;
    background-color: pink;
    color: white;
    padding: 1rem 1.3rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 1rem;
    border-radius: 0 2rem 2rem 0;
}

#popular{
    background-color:rgb(252, 24, 111);
}

.card-body{
    margin: 15rem 1rem 1rem 1rem;
}

.hashtags{
    font-size: 0.9rem;
    font-weight: 700;
    color:teal;
}

h2{
    font-family: "lato";
    font-weight: bold;
    line-height: 1.8rem;
    margin: 1rem 0 0.5rem;
}

.card-description{
    color: rgb(71, 71, 71);
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.card-profile{
    display: flex;
    margin-top: 2rem;
    align-items: center;
}

.profileimg{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.profile_info{
    margin-left: 1rem;    
}

.profile_name{
    font-size: 0.9rem;
}

.profile_followers{
    color:rgb(51, 51, 51);
    font-size: 0.8rem;
}
